
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myCompanyLabel">Add New Company</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.company.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.company.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.company.name"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="vm.company.description"
                    ng-minlength="0" ng-maxlength="100"/>
            <div ng-show="editForm.description.$invalid">
                <p class="help-block"
                    ng-show="editForm.description.$error.minlength" translate-value-min="0">
                    This field is required to be at least 0 characters.
                </p>
                <p class="help-block"
                    ng-show="editForm.description.$error.maxlength">
                    This field cannot be longer than 100 characters.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label" for="department">Departments</label>
            <div class="row">
                <div class="col-md-7 col-md-offset-2">
                    <input type="text" class="form-control" name="name" id="department"
                           ng-model="vm.department"
                    />
                </div>
                <div class="col-md-2">
                    <input type="button" value="Add" class="form-control btn btn-success" ng-click="vm.addDepartment()"></input>
                </div>
            </div>
        </div>

        <ul class="list-group">
            <li class="list-group-item" ng-repeat="department in vm.company.departments track by $index">
                {{department}}
                <input type="button" value="Remove" class="btn btn-xs btn-danger pull-right" ng-click="vm.removeDepartment($index)">
            </li>
        </ul>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
